h1 {
  color: palevioletred;
}

.notification {
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.default {
  color: rgb(0, 0, 255);
  background: rgba(0, 0, 255, 0.1);
}

.confirmation {
  color: rgb(2, 122, 36);
  background: rgba(2, 122, 36, 0.1);
}

.error {
    color: rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.1);
}
